body > :first-child{
  padding-bottom: 0;
  color: #030303;
}

body > :first-child h1{
  padding: 0.25em;
  padding-top: .25em;
  font-size: 3.25em;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin-bottom: 0.75em;
  text-shadow: 1px 1px 1px #899593;
}

body > :first-child h1 span{
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
  text-shadow: -12px 14px 4px #030303;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 1em;
}

#collapse{
  display: flex;
  align-self: flex-end;
  color: #2c3632;

}

#collapse a {
  padding: 0 1em;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: inherit;
  letter-spacing: 0.5px;
  transition: color 200ms ease-out;
  position: relative;
  color: inherit;
}

#collapse a:hover{
  color: #030303;
}

form {
  border: none;
  border-bottom: thin solid #2c3632;
  position: relative;
  background-color: inherit;
}

form:hover  i{
  color: rgb(25, 180, 102);
}

input {
  background-color: inherit;
  padding: 0 .5em .4em;
  width: 100%;
  border: none;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 0.375px;
  font-size: 1.125em;
}

::placeholder{
  color: #2c3632;
}
form > i {
  color: #2c3632;
  font-size: 1em;
  position: absolute;
  top: 1px;
  right: 12px;
}


#collapse-button {
  display: none;
}

@media (min-width:1280px) {
  nav{
    width: 80%;
  }
}
@media (min-width:1024px) {
  nav{
    width: 85%;
  }
}


@media (max-width:630px) {
  nav { 
    width: 100%;
  }
}


@media (max-width:600px) {

  nav{
    align-items: flex-end;
    padding: 0 2em;
    position: relative;
  }

  #collapse {
    position: absolute;
    border: thin solid #2c3632;
    box-shadow: 0 2px 5px #030303;
    flex-direction: column;
    top: 3.5em;
    background-color: #2c3632;
    color: #f0f1f4;
    border-radius: 3px;
  }

  #collapse a {
    text-align: center;
    color: inherit;
    padding: 0.75em 2.5em;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: inherit;
    letter-spacing: 0.5px;
    transition: color 200ms ease-out;
    position: relative;
    color: inherit;
  }

  #collapse a:hover{
    background-color: #d3d4d6;
  }

  #collapse-button {
    display: initial;
    border: thin solid #2c3632;
    background-color: #2c3632;
    padding: 0.75em .5em;
    border-radius: 3px;
    box-shadow: 0 1px 3px #899593;
  }

  #collapse-button:hover {
    box-shadow: 0 1px 3px #030303;
  }

  #collapse-button > * {
    border-top: 1px solid #f0f1f4;
    width: 10px;;
    margin-top: 0.25em;
  }

  #collapse-button > :first-child{
    margin: 0;
  }

}
