section {
  background-color: #d3d4d6
}

section > :first-child h1 {
  padding: 1em;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 350;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #2c3632;
}

#layout {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

#card {

  color: #030303;

  padding: 0.25em 1em 3em;
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  border-radius: 50%;
  width: 200px;
  max-width: 200px;
  height: 200px;
  margin-bottom: 1em;
  border: thin solid #030303;
  box-shadow: 0 1px 3px #030303;
}

#card header h1 {
  margin-bottom: 1em;
  font-size: 1.325em;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  letter-spacing: 1.5px;
}

#card > :last-child {
  display: flex;
  padding: 0 1em;
}

#card > :last-child > * {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  flex: 1 1 0;
  margin-left: 2em;
  text-transform: capitalize;
  font-weight: 550;
  
}

#card > :last-child p{
  font-weight: 475;
  letter-spacing: .5px;
  color: inherit;
  font-size: 1.1625em;
}

#card > :last-child i {
  background: #2c3632;
  color: #d3d4d6;
  border: thin solid #2c3632;
  box-shadow: 0 1px 3px #030303;
  margin-right: 2em;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: 500;
  letter-spacing: .5px;
  font-style: normal;
}

#layout > :first-child,
#layout > :last-child {
  align-self: center;
  font-size: 3em;
  color: #2c3632;
  transition: font-size 250ms ease-in;
  margin: 0;
  padding: 0;
}


#layout > :first-child {
  text-shadow: 1px 3px 2px #030303 ;
}

#layout > :last-child {
  text-shadow: 3px 1px 2px #030303 ;
}

@media (max-width: 550px) {
  #layout > :first-child,
  #layout > :last-child {
    display: none;
  }
}

@media (max-width: 425px) {
  #card > :last-child {
    flex-direction: column;
  }



  #card > :last-child > * {
    margin-bottom: 0.5em;
    margin-left: 0;
    border-bottom: thin solid #899593;
  }

  #card > :last-child i {
    margin-right: 0;
  }

  #details :nth-child(2) {
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  section {
    padding: initial 0;
  }
}

@media (max-width: 320px) {
  #layout {
    justify-content: center;
  }

  #layout > :first-child,
  #layout > :last-child {
    display: none;
  }
}
